# Dependencies
node_modules

# Environment variables
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# Editor configs
.vscode/
.idea/

# docker compose files
docker-compose.yml

# doc files for now
docs/